<BEGINproto_config_file>

<COMMENT>
   This PCF produces a 3 stream DISCRETE prototype system.

<BEGINsys_setup>

hsKind: D
covKind: D
nStates: 3
nStreams: 3
sWidths: 12 12 2
mixes: 64 64 16
parmKind: MFCC_E_D_V
vecSize: 26
outDir: proto
hmmList: lists/bcplist

<ENDsys_setup>

<ENDproto_config_file>